{%- comment -%} ---------------- THE CSS ---------------- {%- endcomment -%}

<style>
  .faq-title {
    display: block;
    margin: 0;
    padding: .6em 0;
    cursor: pointer;
    border-bottom: 1px solid {{ section.settings.border_color }};
  }
  
  .faq-title:first-child {
    border-top: 1px solid {{ section.settings.border_color }};
  }
  
  .faq-button {
    all: inherit;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0 0 0 1em;
    position: relative;
  }
  
  .faq-button span,
  .faq-button svg {
    vertical-align: middle;
  }
  
  .faq-icon {
    width: 0.6em;
    height: 0.6em;
    margin-right: .6em;
  }
  
  .faq-icon-minus {
    transition: transform 240ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: 50% 50%;
  }
  
  .faq-button[aria-expanded="true"] .faq-icon-minus {
    transform: rotate(90deg);
  }
  
  .faq-panel {
    overflow: hidden;
    border-bottom: 1px solid {{ section.settings.border_color }};
    {%- if section.settings.panel_color  -%}
    background-color: {{ section.settings.panel_color }};
    {%- endif -%}
  }
  
  .faq-panel p {
    margin-top: 0;
  }
  
  .faq-panel[data-is-animating] {
    display: block!important;
  }
  
  .faq-wrap {
    padding: 1em;
  }
</style>


{%- comment -%} ---------------- THE MARKUP ---------------- {%- endcomment -%}

<div>
  {%- for block in section.blocks -%}
  {%- if block.settings.title != blank and block.settings.content != blank  -%}
  
    {%- if block.settings.checkbox_expanded == true -%}
      {%- assign expanded = 'true' -%}
      {%- assign hidden = '' -%}
    {%- else -%}
      {%- assign expanded = 'false' -%}
      {%- assign hidden = 'hidden' -%}
    {%- endif -%}
  
    <h2 class="faq-title" data-faq-trigger="{{ block.id }}" {{ block.shopify_attributes }}>
      <button class="faq-button" data-faq-button="{{ block.id }}" aria-expanded="{{ expanded }}">
        <svg class="faq-icon" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path class="faq-icon-minus" fill="currentColor" d="M8 0v14H6V0z"></path>
          <path fill="currentColor" d="M0 6h14v2H0z"></path>
        </svg><span>{{ block.settings.title }}</span>
      </button>
    </h2>
  
    <div class="faq-panel" data-faq-panel="{{ block.id }}" {{ hidden }}>
      <div class="faq-wrap">{{ block.settings.content }}</div>
    </div>
  
  {%- endif -%}
  {%- endfor -%}
</div>


{%- comment -%} -------------- THE RICH SCHEMA ------------- {%- endcomment -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {%- for block in section.blocks -%}
  {%- if block.settings.title != blank and block.settings.content != blank  -%}
  {
    "@type": "Question",
    "name": {{ block.settings.title | json }},
    "acceptedAnswer": {
      "@type": "Answer",
      "text": {{ block.settings.content | json }}
    }
  }{%- unless forloop.last -%},{%- endunless -%}
  {%- endif -%}
  {%- endfor -%}
  ]
}
</script>


{%- comment -%} ---------------- THE CONFIG ---------------- {%- endcomment -%}

<script type="application/json" data-faq-config="{{ section.id }}" >
 {
   "sectionId": {{ section.id | json }},
   "blockIds": {{ section.blocks | map: 'id' | json }}
 }
</script>


{%- comment -%} ---------------- THE SETTINGS ---------------- {%- endcomment -%}

{% schema %}
{
  "name": "FAQ",
  "class": "sd-faq",
  "tag": "section",

  "settings": [
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#eeeeee"
    },
    {
      "type": "color",
      "id": "panel_color",
      "label": "Panel color"
    }
  ],

  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "checkbox",
          "id": "checkbox_expanded",
          "default": false,
          "label": "Expanded?"
        },
        {
          "type": "text",
          "id": "title",
          "label": "FAQ title",
          "default": "FAQ title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "FAQ content",
          "default": "<p>FAQ content</p>"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}

{%- comment -%} ------------------ THE JS ----------------- {%- endcomment -%}

<script src="{{ 'faq.js' | asset_url }}" defer></script>


{%- comment -%} ---------------- THE NO-JS ---------------- {%- endcomment -%}

<noscript>
  <style>
    #shopify-section-{{ section.id }} [hidden] { display: block }
    .faq-icon { display: none }
  </style>
</noscript>


{%- comment -%} ---------------- THE EDITOR ------------------ {%- endcomment -%}

{%- if section.blocks[0].shopify_attributes != blank -%}
<script>
  (function FAQThemeEditor(SD) {
    'use strict';
    
    document.addEventListener('shopify:section:load', sectionLoad);
    document.addEventListener('shopify:block:select', blockToggle);
    document.addEventListener('shopify:block:deselect', blockToggle);
    
    function sectionLoad(evt) {
      var sectionId = evt.detail.sectionId;
      var section =  SD.faq[sectionId];
      if (!section) return;

      SD.faq[sectionId] = section.init(sectionId);     
    }
    
    function blockToggle(evt) {
      var section = SD.faq[evt.detail.sectionId];
      if (!section) return;
      
      var block = section.blocks[evt.detail.blockId];
      if (!block) return;
      
      (evt.type === 'shopify:block:select')
      ? block.select() 
      : block.deselect();
    }
      
  })(window.SectionsDesign = window.SectionsDesign || {});
</script>
{%- endif -%}
